body{
  padding: 0;
  margin: 0;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
}

.container{
  width: 95%;
  margin:auto;
  position: relative;
}

header{
  background: #35424a;
  color: #ffffff;
  padding-top: 15px;
  min-height: 70px;
  border-bottom: #e8491d 2px solid;
}

header li a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
}

header ul{
  margin: 0;
  padding: 0;
}
.test{
  float: left;
}

.test img{
  margin: 0;
}

header li{
  float: left;
  display: inline;
  padding: 0 10px 0 20px;
}

header img{
  margin-top: 5px;
  float: left;
  color: white;
  width: 150px;
  height: auto;
}

section{font-size: 20px;}

.flags img{
  width: 25px;
  height: auto;
  float: right;
}

.language{
    position: absolute;
  float: right;
  color: #ffffff;
  border-radius: 15px;
  border: 2px solid #e8491d;
    padding: 5px 10px 5px 10px;
  top: 0;
  right: 10px;
}

.language div{
  margin: 0;
}

#nav {
   margin-top: -5px;
   width: 100%;
   display: inline-block;
   text-align: center;
   padding: 0;
   list-style: none;
   background-color: #f2f2f2;
   border-bottom: 1px solid #ccc;
   border-top: 1px solid #ccc;
   margin-left: 0px;  // looks like bootstrap is putting a left margin on your #nav you may want it off.
}

.nav{
  position: absolute;
  left: 140px;
  right: 130px;
}

.language p{
  margin-top: -5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}

.language img{
  float: left;
  display: inline;
  padding: 0px 5px 5px 5px;
  margin-top: -10px;
}

#flags-eng img{
  padding-left: 15px;
}

.hero-home {
    background: linear-gradient(rgba(192,192,192,.7), rgba(192,192,192,.7)), url("../img/home.png");
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-monday {
    background: linear-gradient(rgba(192,192,192,.5), rgba(192,192,192,.5)), url("../img/monday.png");
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-tuesday {
    background: linear-gradient(rgba(192,192,192,.5), rgba(192,192,192,.5)), url("../img/tuesday.png");
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-wednesday {
    background: linear-gradient(rgba(192,192,192,.5), rgba(192,192,192,.5)), url("../img/wednesday.png");
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-thursday {
    background: linear-gradient(rgba(192,192,192,.5), rgba(192,192,192,.5)), url("../img/thursday.png");
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-friday {
    background: linear-gradient(rgba(192,192,192,.5), rgba(192,192,192,.5)), url("../img/friday.png");
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-saturday {
    background: linear-gradient(rgba(192,192,192,.5), rgba(192,192,192,.5)), url("../img/saturday.png");
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-sunday {
    background: linear-gradient(rgba(192,192,192,.5), rgba(192,192,192,.9)), url("../img/sunday.png");
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header-text{
  color: white;
  font-size: 100px;
  font-weight: bold;
}

#author{
  float: left;
  padding-left: 10px;
}

#date-created{
  float: right;
  padding-right: 10px;
}

#footer p{
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}

.body-text{
  text-indent: 50px;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 22px;
  font-family: 'Inder', sans-serif;
  line-height: 28px;
  margin-bottom: 15px;
}

.home-body-text{
  margin-left: 10px;
  margin-right: 10px;
}

.home-body-text em{
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.body-text h4{
  font-family: 'Arial';
  text-align: center;
  margin-left: -50px;
}
@media only screen and (min-width: 700px) {
.column {
  float: left;
  width: 31%;
  margin-right: 2%;
}
}

.column p {
  text-align: justify;
}

@media only screen and (max-width: 700px) {
  .column {
    float: left;
    width: 100%;
    margin-right: 2%;
  }
}

.clock{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  max-width:200px;
  height:auto;
}

.column em{
  font-style: italic;
}

#bold{
  font-weight: bold;
  font-size: 25px;
}
@media only screen and (min-width: 1200px) {
  #nav li {

    text-align:center;
  }


.nav-eng li a{
  padding: 0 7px 0 7px;
}
}

@media only screen and (max-width: 1200px) {

  .nav li a{
    font-size: 15px;
  }

.nav-eng li a{
  padding: 0 7px 0 7px;
}
#header-text{
  font-size: 50px;
}
}

@media only screen and (max-width: 566.99px) {
  header{
    min-height: 150px;
  }
}

.bold{
  font-weight: bold;
  font-size: 25px;
}